.rect1{
    left:0px;
    top:0px;
    width:1480px;
    background-color:pink;
    height:500px;
    padding: 20px;
}
.rect2{
    position:absolute;
    left:450px;
    width:550px;
    height:400px;
    background-color:white;
    padding:10px;
    border-radius: 10px;
}
#head{
    position:absolute;
    top:10px;
    left:170px;
    color: #ff6f91;
}
#paragraph{
    position:absolute;
    top:70px;
    left:5px;
    color:black;
    font-size:20px;
    font-weight:500;
}
#para2{
    position:absolute;
    top:190px;
    left:5px;
    color:black;
    font-size:20px;
    font-weight:500;
}
#para3{
    position:absolute;
    top:260px;
    left:5px;
    color:black;
    font-size:20px;
    font-weight:500;
}
#para4{
    position:absolute;
    top:310px;
}
#f1{
    width:1480px;
    left:0px;
    font-size:30px;
}
